# Dados da Sessão
MECANISMO=Mecenato
PROPONENTE=11222333000144
PRONAC=123456
DESPESAS_CSV=/home/joao/empresa/projeto/despesas.csv
COMPROVANTES_DIR=/home/joao/empresa/projeto/comprovantes

# Credenciais
USER_CPF=11122233344
USER_SENHA=changeit

# Configurações do Bot
HEADLESS=False
SLOW_MO=100

# Configurações do Browser
PLAYWRIGHT_BROWSERS_PATH=./browsers
