# Dados da Sessão
MECANISMO=Mecenato
PROPONENTE=11222333000144
PRONAC=123456
CLIENTES_DIR=/home/joao/empresa/clientes

# Credenciais
USER_CPF=11122233344
USER_SENHA=changeit

# Configurações do Bot
HEADLESS=False
SLOW_MO=100

# Configurações do Browser
PLAYWRIGHT_BROWSERS_PATH=./browsers
