# Acesso ao Salic
USER_CPF=11122233344
USER_SENHA=changeit

# Pasta raiz de clientes no computador do usuário
CLIENTES_DIR=/home/joao/empresa/clientes

# Configurações do Bot
HEADLESS=False
SLOW_MO=100

# Configurações do Browser
PLAYWRIGHT_BROWSERS_PATH=./browsers
